<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>web.java.servlets.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>web.java.servlets.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cursos</servlet-name>
        <servlet-class>web.java.servlets.Cursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoff</servlet-name>
        <servlet-class>web.java.servlets.Logoff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Professor</servlet-name>
        <servlet-class>web.java.servlets.Professor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aluno</servlet-name>
        <servlet-class>web.java.servlets.Aluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroTurma</servlet-name>
        <servlet-class>web.java.servlets.CadastroTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PessoaInsert</servlet-name>
        <servlet-class>web.java.servlets.PessoaInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaInstituicao</servlet-name>
        <servlet-class>web.java.servlets.ValidaInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstituicaoLista</servlet-name>
        <servlet-class>web.java.servlets.InstituicaoLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaProfessor</servlet-name>
        <servlet-class>web.java.servlets.ValidaProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaTurma</servlet-name>
        <servlet-class>web.java.servlets.ValidaTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaCurso</servlet-name>
        <servlet-class>web.java.servlets.ValidaCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>web.java.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepoCreator</servlet-name>
        <servlet-class>web.java.servlets.CriaInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaAluno</servlet-name>
        <servlet-class>web.java.servlets.ValidaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriaFolderCurso</servlet-name>
        <servlet-class>web.java.servlets.CriaFolderCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriaRepoTurma</servlet-name>
        <servlet-class>web.java.servlets.CriaRepoTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAluno</servlet-name>
        <servlet-class>web.java.servlets.LoginAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLoginAluno</servlet-name>
        <servlet-class>web.java.servlets.ValidaLoginAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProfessor</servlet-name>
        <servlet-class>web.java.servlets.LoginProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLoginProfessor</servlet-name>
        <servlet-class>web.java.servlets.ValidaLoginProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaMatricula</servlet-name>
        <servlet-class>web.java.servlets.ValidaMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaChamada</servlet-name>
        <servlet-class>web.java.servlets.ValidaChamada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salvaAvaliacao</servlet-name>
        <servlet-class>web.java.servlets.salvaAvaliacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortalUsuario</servlet-name>
        <servlet-class>web.java.servlets.PortalUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperaSenha</servlet-name>
        <servlet-class>web.java.servlets.RecuperaSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alteraInstituicao</servlet-name>
        <servlet-class>web.java.servlets.alteraInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraInstituicao</servlet-name>
        <servlet-class>web.java.servlets.AlteraInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstituicaoView</servlet-name>
        <servlet-class>web.java.servlets.InstituicaoView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoView</servlet-name>
        <servlet-class>web.java.servlets.CursoView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/validaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cursos</servlet-name>
        <url-pattern>/Cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoff</servlet-name>
        <url-pattern>/Logoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Professor</servlet-name>
        <url-pattern>/professor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aluno</servlet-name>
        <url-pattern>/Aluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroTurma</servlet-name>
        <url-pattern>/CadastroTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PessoaInsert</servlet-name>
        <url-pattern>/PessoaInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaInstituicao</servlet-name>
        <url-pattern>/validaInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstituicaoLista</servlet-name>
        <url-pattern>/InstituicaoLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaProfessor</servlet-name>
        <url-pattern>/validaProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaTurma</servlet-name>
        <url-pattern>/validaTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaCurso</servlet-name>
        <url-pattern>/validaCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepoCreator</servlet-name>
        <url-pattern>/RepoCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaAluno</servlet-name>
        <url-pattern>/ValidaAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriaFolderCurso</servlet-name>
        <url-pattern>/CriaFolderCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriaRepoTurma</servlet-name>
        <url-pattern>/CriaRepoTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAluno</servlet-name>
        <url-pattern>/LoginAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLoginAluno</servlet-name>
        <url-pattern>/ValidaLoginAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProfessor</servlet-name>
        <url-pattern>/LoginProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLoginProfessor</servlet-name>
        <url-pattern>/ValidaLoginProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaMatricula</servlet-name>
        <url-pattern>/ValidaMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaChamada</servlet-name>
        <url-pattern>/ValidaChamada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salvaAvaliacao</servlet-name>
        <url-pattern>/salvaAvaliacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortalUsuario</servlet-name>
        <url-pattern>/PortalUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperaSenha</servlet-name>
        <url-pattern>/RecuperaSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraInstituicao</servlet-name>
        <url-pattern>/AlteraInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstituicaoView</servlet-name>
        <url-pattern>/InstituicaoView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoView</servlet-name>
        <url-pattern>/CursoView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
